body{
  background-image: url('r2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
span{
  
    margin-left: 20px; 
    width: 220px;
    height: 80px;
    color: rgb(5, 0, 0);
    font-family: 'Castoro', serif;
    font-size: 50px;
    font-weight: bold;

} 

ul {
    
    float: right;
    list-style-type: none;
    margin-right: auto;
  }
  li {
    padding: 14px 16px;
    display:inline-block;
    margin-right: 10px;
  }
  li a {
    color: rgb(10, 10, 10);
    font-size:20px;;
    font-weight:bolder;
    text-align: center;
    text-decoration: none;
    font-family:'Castoro', serif ;
  }
  li a:hover {
    font-size: 25px;
  
  }

#content{
  background-image: url('dd.jpg');
  margin-top: 25px;
  background-position:left;
  background-repeat: no-repeat;
  height: 500px;
  
}
h1{
  text-align: center;
  font-family:'Castoro', serif ;
  font-size: 40px;
  padding-top: 40px;
  color:rgb(8, 8, 8);
  margin-top: -20px;  
}

#para {

 background-color: rgba(255, 255, 255, 0.342);
 background-size: cover;
 background-repeat: no-repeat;
  width: 690px;
  height: 300px;
  border: 15px white;
  padding: 10px 10px 0px 10px;
  font-family:'Castoro', serif ;
  font-size: 25px;
 font-weight: bold;
 margin: 180px 355px;

   color:rgb(8, 8, 8)
}